:root {
    --title-font-family: "Montserrat-Bold", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 40px;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
    --title-font-style: normal;
  }
  